[Desktop Entry]
Type=Application
NoDisplay=true
Hidden=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_splashscreen
Icon=preferences-desktop-splash
Name=Splash Screen
